---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="refs">
    <ul>
      <li><a href="https://musicbrainz.org/recording/{{ page.trackuri }}">Musicbrainz recording</a></li>
      <li><a href="{{ page.youtubeurl }}">Listen on YouTube</a></li>
    </ul>
  </div>

  <div id="player">
    <audio id="{{ page.trackuri }}" preload="auto" width="480" data-able-player data-skin="2020" data-transcript-src="transcript-{{ page.trackuri }}" playsinline>
      <source type="audio/mpeg" src="{{ site.baseurl }}/audio/{{ page.albumuri }}/{{ page.trackuri }}.mp3" />
      <source type="audio/ogg" src="{{ site.baseurl }}/audio/{{ page.albumuri }}/{{ page.trackuri }}.ogg" />
      <track kind="captions" src="{{ site.baseurl }}/annotations/{{ page.albumuri }}/{{ page.trackuri }}.srt" srclang="gr" label="Greek"/>
    </audio>
  </div>

  <div id="transcript-{{ page.trackuri }}" class="able-transcript-area">

    <!-- the toolbar will be populated with an "Auto Scroll" checkbox -->
    <div class="able-window-toolbar"></div>

    <div class="able-transcript">

      <!-- headings are optional, but encouraged -->
      <h2>Interactive Transcript</h2>

        {{ content }}
          
    </div><!-- end .able-transcript -->
  </div><!-- end .able-transcript-area -->

</article>
